extends layout
 
block layout-content
	h1 Crypto live rates
	block layout-content
	div.all
		each a in assets
			if  a.type_is_crypto && (a.price_usd)
				div#asseets 
					div #{a.name} 
					div (#{a.asset_id})
					div Price in USD: #{a.price_usd}
